@page "/"
@*<button class="btn btn-primary" @onclick="CheckInternet">Check internet</button>*@
@*<ShareRazorClassLibraryForAll.Component1/>*@
<ShareRazorClassLibraryForAll.Blog.BlogCardComponent/>
@code{
    private async void CheckInternet(){
        var hasInternet = Connectivity.Current.NetworkAccess == NetworkAccess.Internet;
        var internetType = Connectivity.Current.ConnectionProfiles.FirstOrDefault();
        await Application.Current.MainPage.DisplayAlert("Internet", $"Status:{hasInternet} of type{internetType}", "OK");
    }
}
